<!DOCTYPE html>
<html>
  <head>
      <title>로그인</title>
      <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/navi') %>

    <div class="py-5">
      <div class="container">
        <div class="row">
            <div class="col-sm-4">
              <form method="post">
                <h1>회원가입</h1>
                <div class="form-group">
                    <label for="id_email">이메일</label>
                    <input id="id_email" type="text" name="email" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="id_password">비밀번호</label>
                    <input id="id_password" type="password" name="password"  class="form-control" >
                </div>
                <div class="form-group">
                    <label for="id_username">이름</label>
                    <input id="id_username" type="text" name="username" class="form-control" >
                </div>
                
                <button type="submit" class="btn btn-primary">가입하기</button>
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>