<!DOCTYPE html>
<html>
  <head>
      <title>가입성공</title>
      <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/navi') %>
    <div class="py-5">
      <div class="container">
        <div class="row">
            <div class="col-sm-4">
              <form method="post">
                <h1>회원 가입완료!</h1>
                <div class="form-group">
                    <label for="id_email">이메일</label>
                    <%= user.email %>
                </div>
                
                <div class="form-group">
                    <label for="id_username">이름</label>
                    <%= user.username %>
                </div>
                
                <a href="/" class="btn btn-primary">홈으로</a>
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
          
  </body>
</html>