<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My BTS</title>
    <link href="style.css" rel="stylesheet">
    
  </head>
  <body>

<h1>BTS</h1>


<h2>New article</h2>
<p>'Dynamite' is BTS's first song entirely in English, but that doesn't mean the group is giving up their K-pop identity</p>
<p><a href="https://www.insider.com/dynamite-bts-first-song-in-english-meaning-kpop-2020-8" target="_blank">Detail</a></p>

<h3>BTS Background info</h3>
<table>
    <tr>
        <td>Also known as</td>
        <td>Bangtan BoysBangtan SonyeondanBeyond the SceneBulletproof Boy Scouts</td>
    </tr>
    <tr>
        <td>Origin</td>
        <td>Seoul, South Korea</td>
    </tr>
    <tr>
        <td>Genres</td>
        <td>K-pophip hopR&BEDM</td>
    </tr>
    <tr>
        <td>Years active</td>
        <td>2013–present</td>
    </tr>
    <tr>
        <td>Labels</td>
        <td>Big Hit</td>
    </tr>
    <tr>
        <td>Website</td>
        <td><a href="http://bts.ibighit.com">bts.ibighit.com</a></td>
    </tr>
</table>

<h4>List of BTS live performances</h4>
<ul>
    <li>The Red Bullet Tour (2014–2015)</li>
    <li>Wake Up: Open Your Eyes Japan Tour (2015)</li>
    <li>The Most Beautiful Moment in Life On Stage Tour (2015–2016)</li>
    <li>The <i>Wings</i> Tour (2017)</li>
    <li>Love Yourself World Tour (2018–2019)</li>
    <li>Map of the Soul Tour (TBA)</li>
</ul>

</body>
</html>
