<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
    <title>BTS 2</title>
  </head>
  <body>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Hello, BTS!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col bg">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-warning" role="alert">
                    New album released!
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-7">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">BTS Background info</h5>
              <p class="card-text">
                <table>
                    <tr>
                        <td width="35%">Also known as</td>
                        <td>Bangtan BoysBangtan SonyeondanBeyond the SceneBulletproof Boy Scouts</td>
                    </tr>
                    <tr>
                        <td>Origin</td>
                        <td>Seoul, South Korea</td>
                    </tr>
                    <tr>
                        <td>Genres</td>
                        <td>K-pophip hopR&BEDM</td>
                    </tr>
                    <tr>
                        <td>Years active</td>
                        <td>2013–present</td>
                    </tr>
                    <tr>
                        <td>Labels</td>
                        <td>Big Hit</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="http://bts.ibighit.com">bts.ibighit.com</a></td>
                    </tr>
                </table>
              </p>
              <a href="http://bts.ibighit.com" class="btn btn-primary">Go website</a>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">List of BTS live performances</h5>
              <p class="card-text">
                <ul>
                    <li>The Red Bullet Tour (2014–2015)</li>
                    <li>Wake Up: Open Your Eyes Japan Tour (2015)</li>
                    <li>The Most Beautiful Moment in Life On Stage Tour (2015–2016)</li>
                    <li>The <i>Wings</i> Tour (2017)</li>
                    <li>Love Yourself World Tour (2018–2019)</li>
                    <li>Map of the Soul Tour (TBA)</li>
                </ul>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                      </svg> Play recent video
                </button>
  
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">BTS MAP OF THE SOUL ON</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/aiNojb4qvAM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>