<!DOCTYPE html>
<html>
    <head>
        <title>블로그 글 수정</title>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/navi') %>

        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">

                        <h1>글쓰기</h1>
                        <form method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="id_title">제목</label>
                                <input id="id_title" class="form-control" type="text" name="title">
                            </div>
                            <div class="form-group">
                                <label for="id_desc">내용</label>
                                <textarea id="id_desc" class="form-control" name="desc" cols="30" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="id_author">글쓴이</label>
                                <input id="id_author" class="form-control" type="text" name="author">
                            </div>
                            <div class="form-group">
                                <label for="id_attach">첨부파일</label>
                                <input id="id_attach" class="form-control-file" type="file" name="upload"> 
                            </div>

                            <button type="submit" class="btn btn-primary">글쓰기</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>