<!DOCTYPE html>
<html>
    <head>
        <title>블로그 글 삭제</title>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/navi') %>

        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">

                    <h1>다음 글을 삭제하시겠습니까?</h1>
                    <p>제목: <%= data.title %></p>
                    <p>작성일: <%= moment(data.inserted).format('YYYY-MM-DD h:mm:ss a') %></p>

                    <form method="post">
                        <button class="btn btn-danger">삭제하기</button>
                        <a href="/" class="btn btn-muted">취소</a>
                    </form>
                </div>
            </div>
        </div>
        
    </body>
</html>