<!DOCTYPE html>
<html>
    <head>
        <title>회원가입하기</title>
    </head>
    <body>
        <h1>회원가입</h1>
        <form>
            <p>아이디: <input type="text" name="userid"></p>
            <p>비밀번호: <input type="password" name="password"></p>
            <p>이메일: <input type="text" name="email"> </p>
            <p>주소: <input type="text" name="address"> </p>
            <p><input type="submit" value="회원가입"> </p>
        </form>
    </body>
</html>