<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>가입완료</title>
  </head>
  <body>
    <h1>가입완료</h1>

    <p>아이디: <%= user.userid %></p>
    <p>이메일: <%= user.email %></p>


    <p><a href="/">메인</a></p>

  </body>
</html>