<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>가입하기</title>
  </head>
  <body>
    <h1>가입하기</h1>

    <form action="">
      <p>아이디 : <input type="text" name="id"></p>
      <p>비밀번호 : <input type="password" name="password"></p>
      <p>이메일 : <input type="text" name="email"></p>
      <p>주소 : <input type="text" name="address"></p>

      <input type="submit" value="가입하기">
	</form>
</body>
